{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<div class="container"> 
    <h1 class="text-center mt-4 mb-4">Products</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-3 mb-1">
                <div class="card text-bg-dark" style="width: 18rem"> {# m-4 c'est la marge / col-3 c'est pour faire des colonnes #}
                    <img src="{{asset('uploads/images/'~product.image)}}" class="card-img-top" >
                    <div class="card-body border-light mb-3 " >
                    <a href="{{ path('app_home_product_show', {'id':product.id}) }}" class="titleProductLink"><h5 class="card-title">{{product.name}}</h5></a>
                        <h5 class="card-text">{{product.price}}€</h5>
                        <p class="card-text">{{product.description|slice(0,60)}}...</p>
                        <a href="#" class="btn btn-outline-success">Add to cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}   
        </div>
    </div>
{% endblock %}
