<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">Booksite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('app_home_page') }}">Home</a>
            </li>

            {# le render Renvoi le layout _categories.html.twig pour avoir le dropmenu de categories dans la nav bar dans chaque twig existant #}
            {{ render(controller( 
                'App\\Controller\\HomePageController::generateNavbarCategories'
            )) }}

            {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_category') }}" >Categories</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_category_new') }}" >Add a Category</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_sub_category_index') }}" >Subcategories</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_sub_category_new') }}">Add a subcategory</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_product_index') }}">Products</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_product_new') }}">Add a product</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_user') }}">User</a></li>
                    </ul>
                </li>
                {# <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
                </li> #}
            {% endif %}
            {% if app.user == false %}
                <li class="nav-item">
                    <a href="{{ path('app_register') }}" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link">Login</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('app_cart') }}" class="nav-link"><i class="fa-solid fa-cart-shopping" style="color: #cacacaff;"></i></a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Logout</a>
                </li>
            {% endif %}
            
           {#  Menu des commandes #}
           {% if is_granted("ROLE_EDITOR") %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'is-completed'}) }}">Orders delivered</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'no-delivery'}) }}">Orders not delivered</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'pay-on-stripe-not-delivered'}) }}">Orders payed but not delivered</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'pay-on-stripe-is-delivered'}) }}">Orders payed and delivered</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'all-orders'}) }}">All Orders</a></li>
                    </ul>
                </li>
           {% endif %}
            
              
            
        </ul>
        
        <form data-turbo='false' method="get" action="{{ path('app_search_engine') }}" class="d-flex" role="search">
            <input name="word" class="form-control me-2" type="search" placeholder="Search a product" aria-label="Search"/>
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
</nav>