{% extends 'base.html.twig' %}

{% block title %}Add Stock{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Add Stock to : {{product.name}}</h1>
        {{ include('layouts/_flash_message.html.twig') }}
            {{ form_start(form) }}
                {{ form_row(form.quantity, {'attr':{'class':'form form-control mb-2 mt-1'}}) }}
                <input type="submit" class="btn btn-success btn-block ">
            {{ form_end(form) }}
    </div>
{% endblock %}
